/* Genel Stiller */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    text-align: center;
}

/* Navbar Stilleri */
.navbar {
    background-color: #4CAF50; /* Yeşil arka plan rengi */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.baslik #baslikyazi {
    font-size: 24px;
    text-decoration: none;
    color: #fff; /* Beyaz yazı rengi */
}

/* Menu Stilleri */
.menu {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Buton hover efekti */
.menu button:hover {
    opacity: 0.9;
}

/* Sol Bölüm Stilleri */
.left {
    float: left;
    width: 20%;
    padding: 10px;
}

/* Sağ Bölüm Stilleri */
.right {
    float: right;
    width: 75%;
    padding: 10px;
}

/* Alt Bölüm Stilleri */
.lower {
    clear: both;
    padding: 10px;
    background-color: #f0f0f0;
}

.finally {
    font-size: 18px;
}
